<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./css/cv_admin.css">
		<title>Admin</title>
	</head>
	<body>
		<header>
			<h1>{{userSession}}</h1>
			<h2>Portfolio</h2>
			<a href="/admin_add_project"><img src="./img/add.png" alt="ajout de projet"></a>
			<a href="/logout"><img src="./img/logout.png" alt="deconnexion"></a>
		</header>
		<section id="admin_section">
			{% for project in project %}
				<article id="admin_article">
					<div id="admin_image">
						{% if project.img == "blank.png" %}
							<img src="./img/blank.jpeg" alt="image projet">
						{% else %}
							<img src="./uploads/images/{{project.img}}" alt="image projet">
						{% endif %}
					</div>
					<h3>{{project.title}}</h3>
					<p>{{project.subtitle}}</p>
					<p>Description</p>
					<a href='{{project.link}}'>lien vers github</a>
					<a href="/admin_delete_project/{{project.id}}"><img src="./img/delete.png" alt="icone supprimer"></a>
					<a href="/admin_update_project/{{project.id}}"><img src="./img/edit.png" alt="icone modifier"></a>
				</article>
			{% endfor %}
		</section>
	</body>
</html>
